<div class="select-panel-wrapper">
    <div class="select-panel">
        <p class="select-panel-type">
            内容标签：<a>直接选择</a> <span class="divider"></span><a class="mute">级联选择</a>
        </p>
        <div class="select-panel-input">
            <span class="select-panel-selected-items">
                <span>选择标签 <span class="del-item">&times;</span></span>
            <span>选择标签 <span class="del-item">&times;</span></span>
            <span>选择标签 <span class="del-item">&times;</span></span>
            </span>
            <div class="arrow-right-wrapper">
                <span class="arrow-right"></span>
            </div>
        </div>
        <div class="select-panel-selector">
            <div class="select-panel-search">
                <input type="text" placeholder="搜索" />
            </div>

            <div class="select-panel-list-wrapper">
                <ul class="select-panel-list" ng-repeat="column in getColumns() track by $index" ng-init="_outerIndex=$index" ng-style="{width: 100/(getColumns().length || 1) + '%'}">
                    <li ng-repeat="item in column" 
                        class="select-panel-list-item" 
                        ng-class="{active: (getSelectedIndex(_outerIndex) == $index)&&(_outerIndex != getColumns().length - 1)}"
                        ng-click="clickItem(_outerIndex, $index)"
                        >
                        <input ng-model="item.checked" ng-if="_outerIndex == getColumns().length - 1" id="{{ 'item_' + _outerIndex + '_' + $index }}" type="checkbox" />
                        <label ng-if="_outerIndex == getColumns().length - 1" for="{{ 'item_' + _outerIndex + '_' + $index }}">{{ item[nameKeys[_outerIndex]] }}</label>
                        <label ng-if="_outerIndex != getColumns().length - 1" >{{ item[nameKeys[_outerIndex]] }}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>