<div class="page-home">
    <div style="width:1300px;float:left;">
        <select-panel 
            ng-model="selectItems"
            pick-items-from="categories"
            array-keys="subGroups=>tags"
            cascade = "true"
            track-by = "id"
            limit="2"
            static
             />
    </div>
    <div style="width:500px;float:left;">
        <ul>
            <li ng-repeat="item in selectItems">item.name <button ng-click="delete($index)">删除</button></li>
        </ul>
    </div>

</div>