<div class="page-home">
    <div class="demo-group dropdown-mode">
        <h3>下拉菜单显示</h3>
        <div class="left">
            <h4>指令区域：</h4>
            <select-panel ng-model="selectItems" pick-items-from="categories" array-keys="subGroups=>tags" cascade="true" track-by="id" />
        </div>
        <div class="right">
            <h4>指令外部：</h4>
            <ul>
                <li ng-repeat="item in selectItems">{{ item.name }} <button ng-click="delete($index)">删除</button></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="demo-group static-mode">
        <h3>嵌入页面显示</h3>
        <div class="left">
            <h4>指令区域：</h4>
            <select-panel 
                ng-model="selectItems2" 
                pick-items-from="tags" 
                array-keys="subGroups=>tags" 
                name-keys="groupName,subGroupName,tagName"
                cascade="true" 
                track-by="id" static />
        </div>
        <div class="right">
            <h4>指令外部：</h4>
            <ul>
                <li ng-repeat="item in selectItems2">{{ item.tagName }} <button ng-click="deleteTag($index)">删除</button></li>
            </ul>
        </div>
    </div>
</div>